body{
   font-family: Courier New;
}
h1{
  font-size: 30px;
  text-align: center;
}

.main{
  width: 100%
}

.center{
 width: 50%;
 margin: 0 auto;
}

.button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #119af0);
  background-image: -moz-linear-gradient(top, #3498db, #119af0);
  background-image: -ms-linear-gradient(top, #3498db, #119af0);
  background-image: -o-linear-gradient(top, #3498db, #119af0);
  background-image: linear-gradient(to bottom, #3498db, #119af0);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #1f628d 2px;
  text-decoration: none;
  text-align: center;
  margin-bottom: 5px;
}

.button:hover{
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.width100 {
 width: 100%  
}

.selected{
	background-color: grey;
  background: #4c4f52;
  background-image: -webkit-linear-gradient(top, #4c4f52, #c6cdd1);
  background-image: -moz-linear-gradient(top, #4c4f52, #c6cdd1);
  background-image: -ms-linear-gradient(top, #4c4f52, #c6cdd1);
  background-image: -o-linear-gradient(top, #4c4f52, #c6cdd1);
  background-image: linear-gradient(to bottom, #4c4f52, #c6cdd1);
}

.hint {
  background: #6b695f;
  background-image: -webkit-linear-gradient(top, #6b695f, #d6ae0d);
  background-image: -moz-linear-gradient(top, #6b695f, #d6ae0d);
  background-image: -ms-linear-gradient(top, #6b695f, #d6ae0d);
  background-image: -o-linear-gradient(top, #6b695f, #d6ae0d);
  background-image: linear-gradient(to bottom, #6b695f, #d6ae0d);
}

.check-answer {
  background: #02bd72;
  background-image: -webkit-linear-gradient(top, #02bd72, #165c40);
  background-image: -moz-linear-gradient(top, #02bd72, #165c40);
  background-image: -ms-linear-gradient(top, #02bd72, #165c40);
  background-image: -o-linear-gradient(top, #02bd72, #165c40);
  background-image: linear-gradient(to bottom, #02bd72, #165c40);
}

.dissable{
  opacity: 0.5;
}