<blockquote>
    {{$ctrl.currentQuestion.question}}
</blockquote>
<div class="quote-action">
    <span ng-show="$ctrl.isStaticLink === false">
        <span class="action-item" ng-click="$ctrl.next()">Next</span>    
        <span class="action-item" ng-click="$ctrl.toStatic()">Static Link</span>
    </span>
    <span ng-show="$ctrl.isStaticLink">
        <span class="action-item" ng-click="$ctrl.toRandom()">Random</span>    
    </span>
    <span class="action-item" ng-click="$ctrl.toPropose()">Propose</span>    
</div>



   <blockquote>
     {{$ctrl.currentQuestion.text}}
   </blockquote>

    <div ng-repeat="answer in $ctrl.currentQuestion.answers">
     <div>
         {{answer}}
     </div>
    </div>

      <div>
        <span>
           {{$ctrl.currentQuestion.answers[0].text}}
        </span>
         <span>
           {{$ctrl.currentQuestion.answers[1].text}}
        </span>
     </div>
      <div>
       <span>
           {{$ctrl.currentQuestion.answers[2].text}}
        </span>
         <span>
           {{$ctrl.currentQuestion.answers[3].text}}
        </span>
     </div>
    </div>